/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

 /* PALETE DE COLORES

 #1E90FF DODGER BLUE
 #086788 SEA BLUE
 #F0C808 YELLOW (MUNSELL)
 #FFF1D0 PAPAYA WHIP
 #DD1C1A MAXIMUM RED

 */

 @font-face
{
   font-family: Gabrielle;
   src: url("/font/Gabrielle.ttf") format("truetype")
}

@font-face
  {
     font-family: Quenda;
     src: url("/font/Quenda-Medium.otf");
  }

 @media (max-width: 600px) {
   .texto_nivel_inicio {
         color: black;
         font-family: Gabrielle;
         font-size: 2.5vw;
   }
   .texto_fin_nivel {
     color: black;
     font-family: Gabrielle;
     font-size: 2em;
   }
   #paginaCargando, #paginaInicio, #paginaMenu, #paginaNiveles, #paginaJuego, #paginaAcierto, #paginaFinRetoArtista, #paginaAceptarArtista, #paginaBuscarArtista ,#paginaCrear, #paginaReto, #paginaEstilos, #paginaNiveles, #volverInicio, #pageInfo, #paginaCaptura, #paginaLicencia, #pageNoMasNiveles {
       background-color: #1E90FF;
       text-align: center;
   }
}

@media (min-width: 600px) and (max-width: 1080px) {
  .texto_nivel_inicio {
        color: black;
        font-family: Gabrielle;
        font-size: 1.1em;
  }
  .texto_fin_nivel {
    color: black;
    font-family: Gabrielle;
    font-size: 4.5em;
  }
  #paginaCargando, #paginaInicio, #paginaMenu, #paginaNiveles, #paginaJuego, #paginaAcierto, #paginaFinRetoArtista, #paginaAceptarArtista, #paginaBuscarArtista ,#paginaCrear, #paginaReto, #paginaEstilos, #paginaNiveles, #volverInicio, #pageInfo, #paginaCaptura, #paginaLicencia, #pageNoMasNiveles  {
    background-color: #086788;
    text-align: center;
  }
}

@media (min-width: 1080px) and (max-width: 1450px) {
  .texto_nivel_inicio {
        color: black;
        font-family: Gabrielle;
        font-size: 1.4em;
  }
  .texto_fin_nivel {
    color: black;
    font-family: Gabrielle;
    font-size: 4.7em;
  }
  #paginaCargando, #paginaInicio, #paginaMenu, #paginaNiveles, #paginaJuego, #paginaAcierto, #paginaFinRetoArtista, #paginaAceptarArtista, #paginaBuscarArtista ,#paginaCrear, #paginaReto, #paginaEstilos, #paginaNiveles, #volverInicio, #pageInfo, #paginaCaptura, #paginaLicencia, #pageNoMasNiveles  {
    background-color: #086788;
    text-align: center;
  }
}

@media (min-width: 1450px) {
  .texto_nivel_inicio {
        color: black;
        font-family: Gabrielle;
        font-size: 1.7em;
  }
  .texto_fin_nivel {
    color: black;
    font-family: Gabrielle;
    font-size: 5em;
  }
  #paginaCargando, #paginaInicio, #paginaMenu, #paginaNiveles, #paginaJuego, #paginaAcierto, #paginaFinRetoArtista, #paginaAceptarArtista, #paginaBuscarArtista ,#paginaCrear, #paginaReto, #paginaEstilos, #paginaNiveles, #volverInicio, #pageInfo, #paginaCaptura, #paginaLicencia, #pageNoMasNiveles  {
    background-color: #086788;
    text-align: center;
  }
}

html {
  font-family: Quenda;
  font-style: normal !important;
}

audio {
  font-size: 3em!important;
}

#tour_dialog {
  text-align: center;
  max-width: 90%;
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
  text-shadow: none !important;
}

#adivina, #bloqueVida, #bloquePuntos {
  box-shadow: none !important;
  text-shadow: none !important;
}

#centrar_cargando {
    color: white;
    text-align: center;
    margin-top: 20%;
    width: 70%;
    margin: auto;
}

.texto_gabrielle {
  font-family: Gabrielle;
}


nav {
    height: 3em;
}

#containerPaginaInicio, #containerPaginaNiveles, #containerJuego, #containerPaginaAcierto, #divEstilos, #divVolver, #divInfo {
    background-color: #1E90FF;
}

#centrarPaginaAcierto {
  width: 100%;
  margin: auto;
}

.card {
  width: 100%;
  height: 100%;
  background-color: #FFF1D0;
}

#bloque1 {
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 0;
    border-radius: 0 0 2px 2px;
}

#bloque2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 0;
    border-radius: 0 0 2px 2px;
}

#bloque3 {
    padding-left: 0;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 0;
    border-radius: 0 0 2px 2px;
}

#textoSeleccion {
  margin-left: 15px
}

.relative {
  position: relative;
}


#divInicio {
  width: 100%;
}


.candado_nivel_solitario {
  height: 90%;
  width: 80%;
}

.escenario_inicio {
  width: 80%;
}

#burbuja {
  background-image: url("/images/nube.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0px;
  padding: 0px;
}

#durmiendo {

    background-image: url("/images/acostado.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: 100%;
}

.nivel_desbloqueado {
  background-image: url("/images/nivel_abierto.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

.nivel_bloqueado {
  background-image: url("/images/nivel_cerrado.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
}

.candado {
}

.datos_nivel {
  text-align: left;
}



#paginaCrear {
  color: black !important;
}

#paginaAceptarArtista {
  text-align: left;
  color: white;
}


#datosFinRetoArtista, #paginaFinEstilo {
    background-image: url(../images/finArtista.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: black;
    text-align: center;
}

#datosFinRetoArtista {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-shadow: none !important;
    color: black !important;
}


#botonSeleccionAcabada {
  width: 50%;
  margin: auto;
}

#pageNoMas, #paginaFin {
  background-image: url(../images/finNivel.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: black;
  text-align: center;
}


.valign {
    width: 100% !important;
}

.container {
    text-align: center;
}

.central {
  margin-bottom: 0px;
}


#divAuxiliar {
    height: 50px;
}

#menuInicio {
    width: 100% !important;
}

#botonesInicio, .indicaNivel {
    font-family: Gabrielle;
    font-size: x-large;
}

.avion1 {
  animation: vuelo1 5s linear infinite;
}

@keyframes vuelo1 {

    0% {
      transform: translateX(0px);
    }
    100% {
        transform: translateX(-100px);
    }
}

.avion2 {
  animation: vuelo2 5s linear infinite;
}

@keyframes vuelo2 {
  0% {
    transform: translateX(0px);
  }
  100% {
      transform: translateX(200px);
  }
}

#modosJuego{
    font-size: 1.5em;
    color: white;
}

#retoDiarioTexto {
    font-size: 1.3em;
    color: white;
    text-align: right;
}

.textInicio{
    color: black;
    font-family: Gabrielle;
    font-size: x-large;
}

.botones_inicio {
    width: 100%;
    text-align: center;
    font-size: 1.2em;
}

.botones_inicio_2 {
    width: 100%;
    text-align: center;
    color: white !important;
}

#retosAork2 {
    /*margin-bottom: 0px;*/
    color: black;
    border-style: double;
    border-color: dodgerblue;
    /*background-image: url(/images/tv2.png);
    background-size: 100% 100%;*/
}

/*
#botonRetoDiario {
  width:100%;
  height: 100%;
}
*/

#imgRetoDiario {
  background-image: url(/images/cover.jpg);
  background-repeat: no-repeat;
  background-size: 85% 85%;
  background-position: center center;
  background-origin: content-box;
  background-color: white;
}

.proponeReto {
    color: blue;
}

.noHayMas {
    color: gray;
}

#iconosRedes{
    color: black;
}

/*
#aork2-facebook {
    margin-left: 15px;
}*/


#contenedorEstilos{
    width: 100% !important;
    text-align: center;
}

#contenedorBotonesEstilo {
  width: 70% !important;
  text-align: center;
}

#mensajeSeleccion {
    margin: auto;
}

/*
.botonEstilo_ {
    width: 100% !important;
    text-align: center;
    color: white !important;
    font-size: 0.7em !important;
}
*/
.centrar{
    margin: auto;
}


#promo{
    margin: auto;
}

#imgPromo {
    width: 100%;
    /*
    border-width: 3px;
    border-style: solid;
    border-color: black;
    */
}

#bloqueBase{
    font-size: 1.2em;
    color: white;
}


.laVida {
    font-size: 0.7em;
    text-align: left;
    color: black;
    padding-left: 1em;
    margin-top: 1em;
}

.losPuntos {
    font-size: 0.7em;
    text-align: right;
    color: black;
    padding-right: 1em;
    margin-top: 1em;
}

#datosJuego {
  margin-bottom: 1em;
}

.divAdivinalo {
    letter-spacing: 0.2em;
    color: white;
    background: rgba(255, 255, 255, 0.55);
    padding-top: 0.5em;
}

#containerAdivina, #containerAdivinaReto {
    width: 100% !important;
    margin-bottom: 0px;
}

.mensajeAdivina{
    font-size: 0.7em !important;
    line-height:10px;
    color: #086788;
}


#adivina, #adivinaReto {
    font-size: 1.3em !important;
    color: black!important;
    letter-spacing: 2px;
}

#fondo, #fondoReto {
    background-image: url(../images/6.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    height: 90%;
}

#bloque{
    width:100%;
    margin-left: auto;
    margin-right: auto;
    /*position: fixed;*/
}

#mensajeAcierte {
    color: white;
}

#tituloObjetivo {
    font-size: large;
    color: #086788;
    margin-bottom: 5px;
}


#imagenesAhorcado {
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#imagen {
    max-width: 100%;
    height: auto;
}

.centrado{
    text-align: center;
}

.izquierda{
    text-align: left;
}


.botonLetra, .botonAyuda, .botonHome {
    background-color: #e7e892 !important;
    /*font-size: 1em !important;*/
    padding: 0.3em !important;
    color: #086788 !important;
    background: rgba(255, 255, 255, 0.25) !important;
    text-shadow: none !important;
}


.pulsada {
    /*color: grey !important;*/
    background-color: rgba(150, 150, 150, 0.5) !important;
    text-shadow: none !important;
}

.pulsadaOk {
  color: #086788 !important;
}

.pulsadaKo {
  color: #DD1C1A !important;
}


#campoBuscarCancion {
    color: white;
}

#capturarPantalla, #finJuego, #contenedorEstiloFin, #centroNoMas, #centroCaptura, #datosLicencia, #capturarPantallaFinSimple, #capturarPantallaFinEstilo, #capturarPantallaFinArtista {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.55);
    color: white;
    text-shadow: none !important;
}

#divResultado {

}
#centroNoMas {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255, 255, 255, 0.30);
  text-shadow: none !important;
  color: black !important;
}

#datosRetoArtista {
  color: white;
  width: 100%;
  text-align: center;
}


#contenedorEstiloFin {
  color: black;
}

#bloqueFinRetoArtista, #capturarPantallaFinArtista, #capturarPantallaFinEstilo, #divBuscarArtista{
  color: black !important;
}

#noticias {
    font-size: 0.8em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#logoNoticias{
    width: 120%;
}


.card-artista {
  font-size: 1em;
  text-align: left;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.65);
  text-shadow: none !important;
}

.card-artista-lg {
  font-size: 1.5em;
  text-align: left;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.65);
  text-shadow: none !important;
}

#resultadoLista, #resultadoBuscarArtista, #listaBuscarArtista {
    width: 100%;
}

.nombreArtistaText {
    margin-left: 5px;
}

.nombreCancionText {
    margin-left: 5px;
    font-size: 1.5em;
}

#retarArtistaText {
    font-size: 0.7em;
}

.botonCancion {
    width:90%;
    margin-left: auto;
    margin-right: auto;
}

.botonCanciones {
    background-color: #F2F2F2;
}

/*
#cabeceraJuego, #cabaceraReta, #cabeceraEstilos {
    font-size: large;
}
*/
#mensajeSeleccion {
    width: 90%;
    text-align: center;
}

#mensajeRetoConsiste {
    font-size: 0.8em;
}

#labelCajon, #labelBuscarArtista{
    color: black;
}

#explicacionBuscarArtista {

}

#campoBusquedaArtista, .sinMargenAbajo {
  margin-bottom: 0px;
}


#cajonBuscarArtista::-webkit-input-placeholder, #cajonBusqueda::-webkit-input-placeholder {
    color: gray;
    margin: 10px;
}


#botonInfoRetar, #botonNoMasSalir, #botonNoMasReiniciar, #botonFinEstilos, #botonFin {
    color: white;
}

.botonHomeBajo {
    color: white !important;
}

#botonAceptarRetoArtista, #botonSalirRetoArtista, #botonNoEsCancion {
    color: white;
}

.letrasBlancas{
    color: white;
}

#botonesPersonajes {
  margin-bottom: 0px;
}
#escucharCancion, #googlePlayText {
    font-size: 0.7em;
}

#datosCancion {
  padding-top: 10px;
  padding-bottom: 0px;
}

.textoCapturaCanciones {
    font-size: 1em;
    color: black;
}

.textoCaptura, #textoEscuchaDeezer {
    font-size: 1.2em;
    color: red;
}

#cuadroCaptura, #cuadroCapturaFinSimple, #cuadroCapturaFinEstilo, #cuadroCapturaFinArtista {
    margin-bottom: 0px;
}

#paginaFinEstilo {
  color: black !important;
}

#capturarPantalla{
    height: 55px;
}


#botonDeezer {
    color: black;
    background: rgba(255, 255, 255, 0.85);
    margin-bottom: 8px;
    height: 55px;
}

#pubJuegoIndividual{
    width: 95% !important;
    text-align: center;
    margin: auto;
}

#pubJuegoReto{
    width: 95% !important;
    text-align: center;
    margin: auto;
}

.enTourCSS {
    color: black;
}

#insertarAudio {
    width: 90% !important;
    margin: auto !important;
}

/*
#adivina {
  color: red !important;
}
*/

#adivina, #indicadorVida, #indicadorPuntos {
  font-family: Trebuchet;
  font-style: normal !important;
}

#indicadorVida {
  color: black;
}

#escenaAhorcado {

    margin-bottom: 0px;
    padding-bottom: 0px;
    border-radius: 5px;
}

#fondoImagenAhorcado {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 5px;
  padding-bottom: 0px;
  margin-top: 5px;
  margin-bottom: 0px;
}

#ahorcado {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#textoEscucharArtista {
  color: black !important;
}

#finMensaje1 {
  font-size: 1.4em;
}
/*
.collection-item {
    background-color: #efefff;
}
*/

.reducido50 {
  width: 50% !important;
}

.reducido80 {
  width: 80%;
}

.al100 {
  width: 100% !important;
}

.st_sharethis_custom{
	background: url(../images/compartir_80.jpg) no-repeat scroll left top transparent;
	padding:0px 16px 0 0;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
