<html>

<head>

  <link rel="stylesheet" type="text/css" href="/stylesheets/materialize.min.css" />
  <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script type="text/javascript" src="/js/materialize.min.js"></script>
  <script src="/js/check.js"></script>
</head>

<body>
  <h1 class="center-align">Aork2 - Comprobación de canciones online</h1>
  <div id="niveles">
    <div class="container">
      <div id="contador" class="card">
        Total Canciones: <span id="total"></span><br />
        Num. de fallos: <span id="cont">0</span>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col s4 m4 l4">
          <div id="nivel1" class="card">
            &nbsp;NIVEL 1<br />
            &nbsp;N. Canciones: <span id="nCancN1"></span><br />
            &nbsp;Fallos: <span id="nFalloN1">0</span>
          </div>
        </div>
        <div class="col s4 m4 l4">
          <div id="nivel2" class="card">
            &nbsp;NIVEL 2<br />
            &nbsp;N. Canciones: <span id="nCancN2"></span><br />
            &nbsp;Fallos: <span id="nFalloN2">0</span>
          </div>
        </div>
        <div class="col s4 m4 l4">
          <div id="nivel3" class="card">
            &nbsp;NIVEL 3<br />
            &nbsp;N. Canciones: <span id="nCancN3"></span><br />
            &nbsp;Fallos: <span id="nFalloN3">0</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s4 m4 l4">
          <div id="nivel4" class="card">
            &nbsp;NIVEL 4<br />
            &nbsp;N. Canciones: <span id="nCancN4"></span><br />
            &nbsp;Fallos: <span id="nFalloN4">0</span>
          </div>
        </div>
        <div class="col s4 m4 l4">
          <div id="nivel5" class="card">
            &nbsp;NIVEL 5<br />
            &nbsp;N. Canciones: <span id="nCancN5"></span><br />
            &nbsp;Fallos: <span id="nFalloN5">0</span>
          </div>
        </div>
        <div class="col s4 m4 l4">
          <div id="nivel6" class="card">
            &nbsp;NIVEL 6<br />
            &nbsp;N. Canciones: <span id="nCancN6"></span><br />
            &nbsp;Fallos: <span id="nFalloN6">0</span>
          </div>
        </div>
      </div>
      <br />
      <h3> Selecciones </h3>
      <div class="row">
        <div class="col s4 m4 l4">
          <div id="exitos" class="card">
            &nbsp;Éxitos<br />
            &nbsp;N. Canciones: <span id="nCanc_top"></span><br />
            &nbsp;Fallos: <span id="nFallo_top">0</span>
          </div>
        </div>
        <div class="col s4 m4 l4">
          <div id="especiales" class="card">
            &nbsp;Especiales<br />
            &nbsp;N. Canciones: <span id="nCanc_esp"></span><br />
            &nbsp;Fallos: <span id="nFallo_esp">0</span>
          </div>
        </div>
        <div class="col s4 m4 l4">
          <div id="pop" class="card">
            &nbsp;Pop<br />
            &nbsp;N. Canciones: <span id="nCanc_pop"></span><br />
            &nbsp;Fallos: <span id="nFallo_pop">0</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s4 m4 l4">
          <div id="rock" class="card">
            &nbsp;Rock<br />
            &nbsp;N. Canciones: <span id="nCanc_rock"></span><br />
            &nbsp;Fallos: <span id="nFallo_rock">0</span>
          </div>
        </div>
        <div class="col s4 m4 l4">
          <div id="hiphop" class="card">
            &nbsp;Hip Hop<br />
            &nbsp;N. Canciones: <span id="nCanc_hiphop"></span><br />
            &nbsp;Fallos: <span id="nFallo_hiphop">0</span>
          </div>
        </div>
        <div class="col s4 m4 l4">
          <div id="bso" class="card">
            &nbsp;BSO<br />
            &nbsp;N. Canciones: <span id="nCanc_bso"></span><br />
            &nbsp;Fallos: <span id="nFallo_bso">0</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div id="canciones">
    </div>
  </div>
</body>
</html>
